.panel {
    background-color: white;
    width: 100%;
    padding-top: calc((16 / 9) * 100%);
    position: relative;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
span[class*="embed-"] {
position: relative;
padding-top: 28.125%;
padding-bottom: 28.125%;
height: 0;
overflow: hidden;
margin: 0;
}
span[class*="embed-"] iframe, 
span[class*="embed-"] object, 
span[class*="embed-"] embed { 
position: absolute; 
top:0; 
left: 0; 
width: 100%; 
height: 100%; 
margin: 0;
}

.video-container {
	position: relative;
	padding-bottom: 55%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

