@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: white;
}

#menu-h ul {
    max-width: 200px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: black;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
    border-radius: 30px;
}

#menu-h ul li a:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
}
	
#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(230, 230, 230);
    transition: background .4s;
    border-radius: 30px;
}

#menu-h ul li:last-child a:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
}
.video-container {
	position: relative;
	padding-bottom: 55%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

